<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>League of Legends App</title>
    <link rel="stylesheet" href="../static/css/index.css">
    <script src="../static/js/index.js"></script>
</head>
<body>
    <h1>Welcome to the LoL App!</h1>
    <div class="searchbox-wrapper">
        <input type="text" id="searchbox">
        <button onclick="filter()">Search!</button>
    </div>
    <div class="wrapper" onclick="redirectToChampPage(event)">

    </div>
</body>
</html>